
body{
    margin: 0;
    display: grid;
    grid-template-columns: 11vw 62vw 15vw 13vw;
    grid-template-rows: 25vh auto auto;
    overflow-x: hidden;
}

#header{
    grid-area: 1/2/2/4;
    text-align: center;
}
#main-left{
    grid-area: 2/2/3/3;
    padding-right:2vw;
    padding-left: 2vw;
}

#main-right{
    grid-area: 2/3/3/4;
    font-size: 1vw;
    text-align: left;
    padding-top: 10vh;
}

.date{
    background-color: grey;
    color: white;
    height: 4vh;
    width: 5vw;
    border-radius: 7%;
    text-align: center;
    padding-top: .5vh;
    font-weight: bold;
}


hr{
    margin-top: 7vh;
    margin-bottom: 7vh;
}

#header hr{
    width: 60vw;
    height: 5px
}


/*----images----*/

#img-ph{
    height: 35vh;
    width: 58vw;
    margin-left: auto;
    margin-right: auto;
    background:url(../Images/fans/retro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px inset;
}

.small-ph{
    float: left;
    height: 14vh;
    width: 7vw;
    margin: 3%;
    margin-right: 6%;
    margin-left: 0;
    background-color: black;
}

#small-top{
    background-image: url(../Images/fans/unnamed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#small-bot{
    background-image: url(../Images/fans/1retro.jpg);
    background-position: center;
    background-size: contain;
}

#smaller-ph{
    float: left;
    height: 10vh;
    width: 7vw;
    margin: 3%;
    background: url(../Images/fans/floorFan.jpg);
    background-size: contain;
}


/*--------footer-----*/

#footer{
    grid-area: 3/1/4/5; 
}
