html{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #00b0f025;
}

#header h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: xx-large;
    font-weight: lighter;
}

/*----buttons and links----*/

.continue{
    background: url(/projects/remock-d-morg/Images/continue.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 5vh;
    width: 10vw;
    border-radius: 5%;
}

.continue:hover{
    background: url(/projects/remock-d-morg/Images/continueHov.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.learn-more{
    background: url(/projects/remock-d-morg/Images/learnMore.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 5vh;
    width: 8vw;
    border-radius: 5%;
    margin-top: 5vh;
}

.learn-more:hover{
    background: url(/projects/remock-d-morg/Images/learnMoreHov.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.submit{
    background-image: url(/projects/remock-d-morg/Images/sendit.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5vh;
    width: 8vw;
    border-radius: 5%;
    margin-top: 0;
}


.submit:hover{
    border: none;
}

/*------header link-----*/
.h-link{
    color: black;
    text-decoration: none;
}
.h-link:visited{
    color: black;
    text-decoration: none;
}
/*----sub article title links----*/

.t-link{
    color: black;
    text-decoration: none;
}

.t-link:visited{
    color: darkblue;
    text-decoration: none;
}

.t-link:hover{
    background-color: rgba(100, 148, 237, 0.356);
    color: rgb(255, 255, 255);
}

/*--------footer-----*/

#form-title{
    display: block;
    text-align: center;
    padding-right: 40vw;
    padding-top: 1vh;
    margin:0;
}

#footer{
    margin-top: 7vh;
    display: inline-block;
    height: 50vh;
    width: 100vw;
    background: #00b0f0;
    text-align: center;
    padding-left: 20vw;
}

#footer-div{
    float:right;
    width: 30vw;
    margin-right: 43vw;
    text-align: left;
    margin-top: 1.5vh;
    display: block;
    padding-left: 0;
}

#footer-div p{
    font-size: .75vw;
    margin-top: 1vh;
    margin-left: 1vw;
}

/*------submission form---*/
#form-title{
    display: block;
    text-align: center;
    padding-right: 40vw;
}

form{
    float:left;
    text-align: left;
    
}


input{
    display:inline;
    margin-bottom: 1vh;
    margin-top: 3vh;
    width: 12.5vw;
}

textarea{
    width: 26vw;
}

input:hover{
    background-color: rgb(243, 252, 126);
    border: 3px solid rgb(255, 255, 5);
}
textarea:hover{
    background-color: rgb(243, 252, 126);
    border: 3px solid rgb(255, 255, 5);
}


/*-------contact and socials-----*/

.logo{
    margin-right: .5vw;
    width: 2.3vw;
    height: 4vh;
    float: left;
  
}


#contact-links{
    height: fit-content;
    width: 12vw;
    float: left;
}

.contact{
    float: left;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-bottom: 0;
}

.media-tags{
    font-size: .75vw;
    display: inline-block;
    text-align: left;
    margin-top: 0;
    margin-right: .5vw;
    margin-bottom: 0;
    padding-top: 0;
}

#media-links{
    width: 13vw;
    float: left;
    margin-left: 3vw;
}

.logo2{
    margin-right: .5vw;
    width: 2.3vw;
    height: 4vh;
    float: left;
  
}

#address{
    padding-top: 0;
}

#home{
    padding-top: 1vh;
}

/*-----artist creds yo----*/
#credit{
    float:left;
    margin-top: 23vh;
    margin-left: 15vw;
    font-size: 7px;
}